# Node modules
node_modules/

# Environment variables
.env

# WhatsApp session (VERY IMPORTANT)
.wwebjs_auth/
.wwebjs_cache/

# Logs
logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Build files
dist/
build/